.site-aliados10 .panels-flexible-region{
	background-color:#ffffff;
	min-height: 860px;
	-webkit-box-shadow: -5px 0px 15px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: -5px 0px 15px 0px rgba(0,0,0,0.2);
	box-shadow: -5px 0px 15px 0px rgba(0,0,0,0.2);
}
.site-aliados10 .main_container{
	background: url('https://dl.dropboxusercontent.com/u/575652037/edu-aliados/img/bg-aliados10.png') #e5e5e5 repeat-x;
	background-position: bottom;
}
.site-aliados10 .breadcrumb{
	display:none;
}
.site-aliados10 .title{
    display: none;
}
/*iframe video*/
.site-aliados10 #genal-video-content-single-day{
	margin:10px 0px;
	/*display:block;*/
}
.site-aliados10 .sub-menu-single-day{
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 2px solid #1F2B49;
	padding:15px 10px;
	background-color:#ffffff;
	-webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.2);
	box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.2);
	display:inline-block;
	width:100%;
	margin-top:10px;
}
.site-aliados10 .option-menu{
	border-bottom: solid 1px #B8B9BD;
}
.site-aliados10 .option-menu:first-child{
	border-top: 1px solid #B8B9BD;
}
.site-aliados10 .option-menu a, .site-aliados10 .option-menu li{
	text-align: left;
	color:#1F2B49;
	padding: 2px 10px;
	width:100%;
	display:block;
}
.site-aliados10 .option-menu li label{
	float:left;
	text-align:left;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.site-aliados10 .option-menu label .icon, .site-aliados10 .eye-class .option-menu .icons{
	background: url("../images/icons-jornada-unica.png") no-repeat;
}
.site-aliados10 .option-menu label .icon-contact,.site-aliados10 .option-menu label .icon-foro{
	float:right;
	display:block;
	width:36px;
	height:37px;
}
.site-aliados10 .option-menu label .icon-contact{
	background-position: -4px -6px;
}
.site-aliados10 .option-menu label .icon-foro{
	background-position: -4px -42px;
}

.site-aliados10 .option-menu a:hover{
	background-color:rgba(0,0,0,0.1);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.site-aliados10 .option-menu a label{
	text-decoration:underline;
	text-decoration: underline;
    width: 100%;
    line-height: 38px;
}
.site-aliados10 .option-menu a:hover label{
	color:#3358A0;
	text-decoration:underline;
	cursor:pointer;
}
.site-aliados10 .eye-class{
	background:#E9E9E9;
	border-radius: 50% 50% 50% 50%;
	-moz-border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
	border: 0px solid #000000;
}
.site-aliados10 .list-contact{
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 2px solid #1F2B49;
	padding:15px 10px;
	background-color:#ffffff;
	-webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.2);
	box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.2);
	margin:130px 10px 0 40px;
	box-sizing:border-box;
	width:40%;
}
.site-aliados10 .eye-class .option-menu:first-child{
	border-top:0px;
}
.site-aliados10 .eye-class .option-menu:last-child{
	border-bottom:0px;
}
.site-aliados10 .eye-class img{
	margin:auto;
}
.site-aliados10 .eye-class .option-menu label span{
	width:100%;
	display:block;
	box-sizing:border-box;
	font-weight:bold;
}
.site-aliados10 .eye-class .option-menu label{
	font-weight:normal;
}
.site-aliados10 .eye-class .contact-labels-group{
	display:inline-block;
	box-sizing:border-box;
}
.site-aliados10 .eye-class .option-menu .icons{
	width:45px;
	height:45px;
	display:inline-block;
	margin-right:5px;
	vertical-align: bottom;
}
.site-aliados10 .eye-class .option-menu .email-icon{
	background-position: 0px -80px;
}
.site-aliados10 .eye-class .option-menu .phone-icon{
	background-position: 0px -119px;
}
.site-aliados10 .btn-media{
	border: 1px solid #1F2B49;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	width:50%;
	margin:10px auto;
	display:block;
	padding:10px;
	text-align:left;
	text-decoration:none;
}
.site-aliados10 .btn-media h4{
	text-decoration:none;
}
.site-aliados10 .btn-media img, .site-aliados10 .btn-media h4,.site-aliados10 .btn-media p{
	display:inline-block;
}
.site-aliados10 .content .section-content-ju .btn-media ul li{
	font-size: 10px;
}
.site-aliados10 .content .section-content-ju .btn-media:hover{
	background-color:#ececec;
}
.site-aliados10 .content .documents-container{
	border-bottom:1px solid #8E8E8E;
    margin: 0 15px;
}
.site-aliados10 .content .documents-container:first-child {
	border-top:1px solid #8E8E8E!important;
}
.site-aliados10 .content .documents-container a{
	display:inline-block;
	text-decoration:none;
	line-height: 40px;
    color: #0e0e0e;
	margin: 0 15px;
}
.site-aliados10 .content .documents-container a label{
    margin-bottom: 0px;
}
.site-aliados10 .content .documents-container .btn-download{
	float:right;
	background:#CE1024;
	padding: 0 10px;
	line-height:30px;
	margin: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.site-aliados10 .content .documents-container .btn-download:hover{
	background:#1F2B49;
}
.site-aliados10 .content .documents-container .btn-download label{
	font-weight: bold;
    color: #ffffff;
	text-decoration:underline;
	font-size:12px;
	cursor:pointer;
}

.site-aliados10 .content .modal-content .table-map{
    font-size: 12px;
    color: #FFFFFF;
    background-color: #007C9F;
    margin-bottom: 0px;
    border-radius: 4px;
}

.site-aliados10 .content .table-map td{
    background-color: #007C9F;
    width: 16.6%;
    text-transform: capitalize;
    height: 50px;
    padding-left: 5px;
}

.site-aliados10 .content .table-map .tr-header td{
    background-color: #8DB530;
    font-weight: bold;
}

.site-aliados10 .content .modal-content .info-map{
    display: flex;
    font-size: 12px;
}

.site-aliados10 .content .modal-content .info-map .info-map-mentor{
    border-left: 1px solid black;
    padding-left: 10px;
}

.site-aliados10 .content .modal-content .info-map div {
    width: 50%;
    box-sizing: border-box;
    padding: 0 10px;
}

.site-aliados10 .content .modal-content .table-responsive{
   margin-bottom: 0px; 
}

.site-aliados10 .content .modal-content {
    border-color: #3A66A3;
}

.site-aliados10 .content .modal-content .table-responsive {
    width: 100%;
    margin: auto;
}

@media screen and (max-width: 767px){
    .site-aliados10 .content .modal-content .table-responsive {
        width: 100%;
        margin-bottom: 0px; 
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 0px solid #ddd; 
    }
}
@media (max-width: 1000px){
	.site-aliados10 .site-aliados10 .list-contact{
		width:90%;
		margin:auto;
		box-sizing:border-box;
	}
}

@media (max-width: 850px){
	.site-aliados10 .main-menu-allies-10 > .pane-content > ul > li{
		width:100%!important;
	}
}

@media (min-width: 768px){
    .site-aliados10 .content .modal-dialog-map{
        width: 70%;
    }
}
